body {
    background-image: linear-gradient(to right, rgba(29, 28, 28, 0.685), rgba(172, 169, 171, 0.068)), url(../img/earth.jpg);
    background-size: cover;
    height: 97.9vh;
   
    text-align: center;
    align-items: center;
    justify-content: absolute;
    animation: fadeInAnimation linear 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


h1 {
    text-align: linea;
    text-align: top;
    text-align: center;
    margin-top: 3%;
    color: rgb(255, 255, 255);
    font: bold 200px sans;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
   
 
   
  }

  .Footers {
    margin-bottom: 0px;
  }

  .FooterName {

    font: 25px sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    max-width: 200px;
    transition: color 0.15s ease-in-out;
  }

  .FooterName1 {
    font: italic 15px lucida;
  }

  .a {
      justify-content: left;
      margin-left: -29.5%;
  }

  section {  
    color: rgb(255, 255, 255);
    font: bold 35px sans-serif;
    margin-left: 3.0%;
    margin-top: 45vh;
    text-align: center;
    
  }

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 3.5%;
  margin-right: 3.5%;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  background: rgba(9, 206, 255, 0);
  height: 8vh;
}

.nav-list {
  display: flex;
  list-style: none;
  color: rgb(255, 255, 255);
  margin-top: 1%;
}

.nav-list li {
  letter-spacing: 3px;
  margin-right: 35px;
  align-items: right;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.5;
}

header {
  align-content: left;
}

h2 {
     
  top: 43.5%;
  color: rgb(255, 255, 255);
  font:  25px sans;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  
  text-align: center;

  font-style: italic;
}

h3 {
    text-align: center;
top: 49.5%;
color: rgb(255, 255, 255);
font:  22px sans;
margin-top: 30px;
font-family: 'Montserrat', sans-serif;
overflow: hidden;



line-height: 36px;
}

.logo {
  scale: 70%;
  margin-top: 4.2%;
  margin-left: -8.2%;
}

.ita {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    
}

.home {
  padding: 20px;
}