body {
    background-image: linear-gradient(to right, rgba(29, 28, 28, 0.685), rgba(172, 169, 171, 0.068)), url(../img/bg.jpg);
    background-size:  cover;
    height: 100vh;
    position: relative;
    opacity: 0;
    transition: opacity 2s;
    background-repeat: no-repeat;
    max-height: 1080px;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo {
  margin-left: -70px;
  width: 1512px;
}

h1 {
    text-align: linea;
    text-align: top;
    top: 9%;
    color: rgb(255, 255, 255);
    font: bold 240px sans;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
    width: 50%;
    margin-left: 34%;
    position: absolute;
  }

  .Footers {
    margin-bottom: 0px;
  }

  .FooterName {

    font: 25px sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    max-width: 200px;
    transition: color 0.15s ease-in-out;
  }

  .FooterName1 {
    font: italic 15px lucida;
    
  }

  .a {
      justify-content: left;
      margin-left: -29.5%;
  }

  section {  
    color: rgb(255, 255, 255);
    font: bold 35px sans-serif;
    margin-left: 5.0%;
    margin-top: 82vh;
    position: absolute;
    margin-left: 2%;
  }



nav {
  display: flex;
  justify-content: space-between;
  margin-left: 3.5%;
  margin-right: 3.5%;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  background: rgba(9, 206, 255, 0);
  height: 8vh;
}

.nav-list {
  display: flex;
  list-style: none;
  color: rgb(255, 255, 255);
  margin-top: 1%;
  
}

.nav-list li {
  letter-spacing: 3px;
  margin-right: 35px;
  align-items: right;
}



a:hover {
  opacity: 0.5;
}

header {
  align-content: left;
}

.home {
  padding: 20px;
}

@media(max-width: 1440px) {
  h1 {
    overflow-wrap: break-word;
    line-height:200px;
    font-size: 180px
  }

  body {
    overflow: hidden;
  }

  
}




@media(max-width: 1024px) {
  h1 {
    
    font-size: 180px;
    line-height:180px;
  }

  
}

@media(max-width: 768px) {
  h1 {
    
    font-size: 160px;
    line-height:180px;
  }
}

@media(max-width: 432px) {
  h1 {
    
    font-size: 130px;
    line-height:130px;
  }

  

  .Footers {
    font: bold 240px sans;
  }
}

@media(max-width: 375px) {
  h1 {
    
    font-size: 120px;
    width: 50%;
  }

}



* {
  box-sizing: border-box;
}

@media(max-width: 320px) {
  h1 {
    margin-top: 0vh;
  }
}


.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d00;
  
  font-family: 'Bebas Neue', cursive;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 1vw;
  margin-right: 1vw;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    
    display: block;
    width: 40%;
    background-color: rgba(247, 247, 247, 0.747);
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color: #2e2e2e;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .logo {
    width: 2090px;
  }



}