body {
    background-image: linear-gradient(to right, rgba(29, 28, 28, 0.685), rgba(172, 169, 171, 0.068)), url(../img/bg.jpg);
    background-size:  cover;
    height: 100vh;
    position: relative;
    opacity: 0;
    transition: opacity 2s;
    background-repeat: no-repeat;
    max-height: 1080px;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.logo {
  scale: 70%;
  margin-top: 4.2%;
  margin-left: -8.2%;
}

h1 {
    text-align: linea;
    text-align: top;
    top: 9%;
    color: rgb(255, 255, 255);
    font: bold 240px sans;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', cursive;
    overflow: hidden;
    width: 50%;
    margin-left: 34%;
    position: absolute;
  }

  .Footers {
    margin-bottom: 0px;
  }

  .FooterName {

    font: 25px sans-serif;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    max-width: 200px;
    transition: color 0.15s ease-in-out;
  }

  .FooterName1 {
    font: italic 15px lucida;
    
  }

  .a {
      justify-content: left;
      margin-left: -29.5%;
  }

  section {  
    color: rgb(255, 255, 255);
    font: bold 35px sans-serif;
    margin-left: 5.0%;
    margin-top: 82vh;
    position: absolute;
    margin-left: 2%;
  }

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-left: 3.5%;
  margin-right: 3.5%;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  background: rgba(9, 206, 255, 0);
  height: 8vh;
}

.nav-list {
  display: flex;
  list-style: none;
  color: rgb(255, 255, 255);
  margin-top: 1%;
  
}

.nav-list li {
  letter-spacing: 3px;
  margin-right: 35px;
  align-items: right;
}

a {
  text-decoration: none;
  color: #fff;
  
}

a:hover {
  opacity: 0.5;
}

header {
  align-content: left;
}

.home {
  padding: 20px;
}

@media(max-width: 1840px) {
  h1 {
    overflow-wrap: break-word;
    line-height:200px;
  }

  body {
    overflow: hidden;
  }
}

@media(max-width: 1600px) {
  h1 {
    
    font-size: 200px;
    line-height:200px;
  }

  .logo {
    margin-left: -120px;
    margin-top: 70px;
  }
}

@media(max-width: 1547px) {
  h1 {
    
    font-size: 170px;
    line-height:200px;
  }

  .logo {
    margin-left: -120px;
    margin-top: 70px;
  }
  
}

@media(max-width: 1366px) {
  h1 {
    
    font-size: 200px;
    line-height:200px;
  }

  .logo {
    margin-left: -120px;
    margin-top: 70px;
  }
}

@media(max-width: 1024px) {
  h1 {
    
    font-size: 200px;
    line-height:200px;
  }

  .logo {
    margin-left: -120px;
    margin-top: 70px;
  }
}

@media(max-width: 1024px) {
  h1 {
    
    font-size: 180px;
    line-height:180px;
  }

  .logo {
    margin-left: -120px;
    margin-top: 70px;
  }
}

@media(max-width: 516px) {
  h1 {
    
    font-size: 150px;
    line-height:150px;
  }

  .logo {
    margin-left: -120px;
    margin-top: 70px;
  }
}

@media(max-width: 432px) {
  h1 {
    
    font-size: 130px;
    line-height:130px;
  }

  .logo {
    margin-left: -120px;
    margin-top: 70px;
  }

  .Footers {
    font: bold 240px sans;
  }
}

@media(max-width: 377px) {
  h1 {
    
    font-size: 120px;
    line-height:120px;
  }

}

@media(max-width: 281px) {
  h1 {
    
    font-size: 110px;
    line-height:110px;
  }

}